<nav class="navbar navbar-default">
<div class="navbar-header">
  <a class="navbar-brand">{{title}}</a>
  </div>
 
    <ul class="nav navbar-nav list-inline">
    <li class="nav nav-item" > <a routerLink="/home">Home</a></li>
    <li class="nav nav-item" > <a routerLink="/case0">Case 1</a></li>
    <li class="nav nav-item" > <a routerLink="/case1">Case 2</a></li>
    <li class="nav nav-item" > <a routerLink="/case3">Case 3</a></li>
    <li class="nav nav-item" > <a routerLink="/case4">Case 4</a></li>
    <li class="nav nav-item"  > <a routerLink="/case5">Case 5</a></li>
    
  </ul>
</nav>


